In [1]:
import pandas as pd
import glob
import os
from pathlib import Path

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
proj_dir = Path("../..")

In [3]:
file_names = [os.path.basename(x) for x in glob.glob(str(proj_dir) + "Data/RAT_outputs/dels/*.csv")]

In [26]:
# file_names = [os.path.basename(x) for x in glob.glob(r"/Users/gdarkwah/Library/CloudStorage/OneDrive-UW/01-Research/01-Hydrothermal History/Methods/machine_learning/ML2/RAT_outputs/dels/*.csv")]
dels_file_names = [os.path.basename(x) for x in glob.glob(str(proj_dir) + "/Data/RAT_outputs/dels/*.csv")]
sarea_file_names = [os.path.basename(x) for x in glob.glob(str(proj_dir) + "/Data/RAT_outputs/sarea_tmsos/*.csv")]
GrandID = [int(x.split('_')[0]) for x in dels_file_names]

df = pd.DataFrame({'Grand_ID': GrandID, 'file_name': dels_file_names})

In [27]:
# rat_data = list()
rat_dels = list()
rat_sarea = list()

In [28]:
for index, row in df.iterrows():
    delS = pd.read_csv(
        str(proj_dir) + "/Data/RAT_outputs/dels/" + row["file_name"],
        parse_dates=["date"],
    )
    sarea = pd.read_csv(
        str(proj_dir) + "/Data/RAT_outputs/sarea_tmsos/" + row["file_name"],
        parse_dates=["date"],
    )
    delS.rename(columns={"date": "Date"}, inplace=True)
    sarea.rename(columns={"date": "Date"}, inplace=True)
    delS["Date"] = pd.to_datetime(delS["Date"])
    sarea["Date"] = pd.to_datetime(sarea["Date"])
    delS.set_index("Date", inplace=True)
    sarea.set_index("Date", inplace=True)

    # resample to semi-monthly
    delS = delS.resample("SMS").mean()
    sarea = sarea.resample("SMS").mean()

    delS["GranD_ID"] = int(row["Grand_ID"])
    sarea["GranD_ID"] = int(row["Grand_ID"])
    # print(row["GrandID"])
    # break

    # rat_data.append(delS)
    rat_dels.append(delS)
    rat_sarea.append(sarea)

310_Grand_Coulee.csv
389_Deer_Flat_Upper.csv
353_Willow_Creek_Reservoir.csv
402_Blackfoot.csv
79_Timothy_Lake.csv
309_Noxon_Rapids.csv
374_Island_Park.csv
323_Pinto.csv
92_Fall_Creek.csv
98_Crane_Prairie.csv
82_Round_Butte.csv
83_Green_Peter.csv
68_Swift_1.csv
78_Wasco.csv
91_Arthur_R._Bowman.csv
324_Ninepipe.csv
321_Crow.csv
71_Bull_Run_Reservoir_Dam_1.csv
70_Yale.csv
55_Keechelus.csv
311_Dry_Falls.csv
386_Owyhee.csv
411_American_Falls.csv
372_Unity.csv
67_Mt._St._Helens_Sediment_Retention_Structure.csv
7309_Salmon_Falls_Dam.csv
299_Hungry_Horse.csv
287_Seven_Mile.csv
391_Lucky_Peak.csv
430_Wild_Horse_Dam.csv
387_Arrowrock.csv
378_Grassy_Lake.csv
99_Cottage_Grove.csv
102_Crescent_Lake.csv
77_North_Fork.csv
73_Bull_Run_Lake_Dam.csv
57_Kachess.csv
388_Warm_Springs.csv
342_Silver_Lake_East_Dam.csv
100_Hills_Creek.csv
49_Chelan_Dam.csv
390_Ririe.csv
74_Bull_Run_Reservoir_Dam_2.csv
335_Scooteney_Reservoir_Outlet_Dam.csv
354_Wallowa_Lake.csv
370_Cascade.csv
376_Willow_Creek_Reservoir_3.csv
313_Long_Lake.csv
383_Agency_Valley.csv
325_Tabor.csv
66_Cowlitz_Falls_Dam.csv
396_Palisades.csv
88_Blue_River_Dam.csv
101_Wickiup_Reservoir.csv
406_Antelope_Dam.csv
7319_Merwin.csv
375_Mann_Creek.csv
346_Cold_Springs.csv
318_Pablo.csv
344_East_Fork_Rock_Creek_Dam.csv
90_Fern_Ridge.csv
360_Wolf_Creek_Reservoir.csv
303_Davis_Lake_Dam.csv
394_Anderson_Ranch.csv
331_Nevada_Creek_Dam.csv
63_Tieton.csv
294_Conconully.csv
89_Cougar.csv
60_Bumping_Lake.csv
384_Jackson_Lake.csv
361_Thief_Valley.csv
315_Post_Falls_Middle_Channel.csv
290_Boundary.csv
367_Mason.csv
316_Kerr.csv
93_Dexter.csv
64_Mossyrock.csv
395_Little_Camas_Dam.csv
94_Lookout_Point.csv
97_Dorena.csv
291_Osoyoos_Lake_Control_Dam.csv
72_Scoggins_Reservoir.csv
327_Moses_Lake_South.csv
350_McKay.csv
65_Mayfield.csv
347_West_Fork_Bitterroot.csv
329_O'Sullivan.csv
413_Minidoka.csv
84_Suttle_Lake.csv
341_Flint_Creek_Dam.csv
405_C.J._Strike.csv
80_Detroit.csv
365_Brownlee.csv
382_Bully_Creek.csv
58_Cle_Elum.csv
297_Libby.csv
87_Ochoco.csv
86_Smith.csv
392_Little_Wood_River.csv
349_Carty_Reservoir.csv
345_Como.csv
397_Magic_Dam.csv
380_Ashton.csv
343_Opportunity_Tailings_Ponds.csv
314_Newman_Lake_Flood_Control_Dam.csv
81_Pelton.csv
338_Dworshak_Dam.csv
289_Waneta.csv
85_Foster.csv
76_Lake_Oswego.csv
408_Lower_Salmon.csv
333_Scooteney_North_Dike.csv
305_Albeni_Falls.csv
363_Oxbow.csv

In [29]:
rat_dels

[                 dS (m3)  GranD_ID
 Date
 2019-04-15           NaN       310
 2019-05-01 -1.494095e+06       310
 2019-05-15 -6.815955e+05       310
 2019-06-01  3.750119e+06       310
 2019-06-15 -5.548017e+03       310
 ...                  ...       ...
 2023-01-01  3.855204e+04       310
 2023-01-15 -5.092034e+04       310
 2023-02-01 -1.100717e+05       310
 2023-02-15 -1.591830e+05       310
 2023-03-01 -3.249475e+05       310

 [94 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-01 -282758.063656       389
 2019-05-15 -302788.726212       389
 2019-06-01 -316121.368963       389
 2019-06-15 -340969.518030       389
 2019-07-01  292709.350017       389
 ...                   ...       ...
 2023-01-01  450060.972620       389
 2023-01-15 -465964.247800       389
 2023-02-01  763445.993185       389
 2023-02-15      80.922082       389
 2023-03-01 -628679.466014       389

 [93 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-06-01           NaN       353
 2019-06-15 -2.153733e+04       353
 2019-07-01 -2.320660e+04       353
 2019-07-15 -3.554459e+03       353
 2019-08-01 -2.884259e+03       353
 ...                  ...       ...
 2023-01-01  1.088050e+06       353
 2023-01-15  5.018402e+04       353
 2023-02-01  0.000000e+00       353
 2023-02-15  0.000000e+00       353
 2023-03-01  0.000000e+00       353

 [91 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-05-01  0.000000e+00       402
 2019-05-15  1.188837e+06       402
 2019-06-01 -1.302950e+05       402
 2019-06-15  8.907444e+05       402
 2019-07-01  1.127864e+05       402
 ...                  ...       ...
 2023-01-15  5.900450e+05       402
 2023-02-01  9.463472e+05       402
 2023-02-15  2.300974e+05       402
 2023-03-01           NaN       402
 2023-03-15  0.000000e+00       402

 [94 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-01 -166230.502644        79
 2019-05-15   18071.599515        79
 2019-06-01   16091.843169        79
 2019-06-15  -22515.826810        79
 2019-07-01   17674.649674        79
 ...                   ...       ...
 2022-12-15 -108399.816458        79
 2023-01-01   -9100.737632        79
 2023-01-15  -77360.314134        79
 2023-02-01       0.000000        79
 2023-02-15       0.000000        79

 [92 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-01       0.000000       309
 2019-05-15   55562.570482       309
 2019-06-01  185676.515022       309
 2019-06-15   80677.053840       309
 2019-07-01 -371619.664196       309
 ...                   ...       ...
 2023-01-01 -101306.442990       309
 2023-01-15       0.000000       309
 2023-02-01       0.000000       309
 2023-02-15       0.000000       309
 2023-03-01       0.000000       309

 [93 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-04-15           NaN       374
 2019-05-01  0.000000e+00       374
 2019-05-15  9.334477e+05       374
 2019-06-01  4.006985e+04       374
 2019-06-15  2.528447e+05       374
 ...                  ...       ...
 2023-01-15  3.178548e+05       374
 2023-02-01  8.931475e+04       374
 2023-02-15 -2.820180e+05       374
 2023-03-01           NaN       374
 2023-03-15 -1.348042e+06       374

 [95 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-01  -95288.509563       323
 2019-05-15  -48964.898496       323
 2019-06-01  144147.972302       323
 2019-06-15   84979.051654       323
 2019-07-01    7462.569136       323
 ...                   ...       ...
 2023-01-01 -156652.149014       323
 2023-01-15       0.000000       323
 2023-02-01       0.000000       323
 2023-02-15       0.000000       323
 2023-03-01       0.000000       323

 [93 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-05-01 -1.482735e+05        92
 2019-05-15 -1.215808e+06        92
 2019-06-01  8.285237e+05        92
 2019-06-15 -4.483252e+05        92
 2019-07-01 -1.131445e+06        92
 ...                  ...       ...
 2022-12-15  0.000000e+00        92
 2023-01-01  0.000000e+00        92
 2023-01-15  0.000000e+00        92
 2023-02-01  0.000000e+00        92
 2023-02-15  0.000000e+00        92

 [92 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-04-15            NaN        98
 2019-05-01       0.000000        98
 2019-05-15   -4197.367403        98
 2019-06-01 -325951.773672        98
 2019-06-15  219252.359585        98
 ...                   ...       ...
 2022-12-15 -368933.018761        98
 2023-01-01 -214089.880547        98
 2023-01-15  -14238.310736        98
 2023-02-01       0.000000        98
 2023-02-15       0.000000        98

 [93 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-04-15            NaN        82
 2019-05-01 -292183.028080        82
 2019-05-15  -21880.527843        82
 2019-06-01  254595.546602        82
 2019-06-15  -26613.373915        82
 ...                   ...       ...
 2022-12-15   41477.758900        82
 2023-01-01  141573.296754        82
 2023-01-15 -135027.822371        82
 2023-02-01  163819.562295        82
 2023-02-15  -97995.897857        82

 [93 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-06-01  -35897.046439        83
 2019-06-15  -71767.345607        83
 2019-07-01  -78832.786655        83
 2019-07-15  -83148.275275        83
 2019-08-01  -84975.635366        83
 ...                   ...       ...
 2022-12-15   87135.476617        83
 2023-01-01  -82266.475966        83
 2023-01-15  104218.925853        83
 2023-02-01  145544.868287        83
 2023-02-15  -34777.067952        83

 [90 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-01       0.000000        68
 2019-05-15 -214487.832292        68
 2019-06-01  252233.526291        68
 2019-06-15  -95379.987274        68
 2019-07-01  -69093.703459        68
 ...                   ...       ...
 2022-12-15  106386.122435        68
 2023-01-01 -131171.442933        68
 2023-01-15 -130476.968055        68
 2023-02-01  178266.012124        68
 2023-02-15 -168045.370603        68

 [92 rows x 2 columns],
             dS (m3)  GranD_ID
 Date
 2019-05-01      NaN        78
 2019-05-15      0.0        78
 2019-06-01      0.0        78
 2019-06-15      0.0        78
 2019-07-01      0.0        78
 ...             ...       ...
 2022-12-15      0.0        78
 2023-01-01      0.0        78
 2023-01-15      0.0        78
 2023-02-01      0.0        78
 2023-02-15      0.0        78

 [92 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-05-01  18716.460942        91
 2019-05-15 -68129.289464        91
 2019-06-01  -6644.952505        91
 2019-06-15 -74270.322224        91
 2019-07-01  72901.587944        91
 ...                  ...       ...
 2023-01-01  24148.103730        91
 2023-01-15  83106.160709        91
 2023-02-01  89594.262806        91
 2023-02-15  64999.052622        91
 2023-03-01      0.000000        91

 [93 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-15    1061.734088       324
 2019-06-01  -33033.302467       324
 2019-06-15  -69466.947331       324
 2019-07-01  173481.256031       324
 2019-07-15   82667.157235       324
 ...                   ...       ...
 2023-01-01  -73711.131441       324
 2023-01-15  -17201.433655       324
 2023-02-01  216828.140312       324
 2023-02-15  100087.389049       324
 2023-03-01       0.000000       324

 [92 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-06-01    8575.311254       321
 2019-06-15    7121.288810       321
 2019-07-01   -4619.055214       321
 2019-07-15   -5488.198318       321
 2019-08-01   -1527.894621       321
 ...                   ...       ...
 2023-01-01 -765937.075917       321
 2023-01-15 -209911.646706       321
 2023-02-01       0.000000       321
 2023-02-15       0.000000       321
 2023-03-01       0.000000       321

 [91 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-05-01 -32442.718809        71
 2019-05-15  17426.660427        71
 2019-06-01  -7647.955281        71
 2019-06-15  -9191.384021        71
 2019-07-01 -17081.406133        71
 ...                  ...       ...
 2022-12-15   2172.750334        71
 2023-01-01   1752.669672        71
 2023-01-15  -4086.873786        71
 2023-02-01 -18060.149327        71
 2023-02-15    847.389761        71

 [92 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-04-15            NaN        70
 2019-05-01   55995.149088        70
 2019-05-15  -74123.132520        70
 2019-06-01  105017.403615        70
 2019-06-15   71283.246897        70
 ...                   ...       ...
 2023-01-01  150416.511483        70
 2023-01-15  129930.549764        70
 2023-02-01  110952.616386        70
 2023-02-15  -22992.674845        70
 2023-03-01  -49429.650926        70

 [94 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-15  -32559.329696        55
 2019-06-01 -104241.906831        55
 2019-06-15 -133045.802189        55
 2019-07-01  -37056.795407        55
 2019-07-15 -238274.237850        55
 ...                   ...       ...
 2023-01-01  247421.505074        55
 2023-01-15 -159660.195156        55
 2023-02-01 -137136.337613        55
 2023-02-15 -118700.275885        55
 2023-03-01 -262183.073970        55

 [92 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-05-01 -2.690360e+06       311
 2019-05-15  9.298783e+05       311
 2019-06-01  2.346839e+05       311
 2019-06-15 -4.626664e+04       311
 2019-07-01 -5.366132e+05       311
 ...                  ...       ...
 2023-01-01  9.684114e+05       311
 2023-01-15  2.051219e+06       311
 2023-02-01  6.586193e+05       311
 2023-02-15  0.000000e+00       311
 2023-03-01 -1.851471e+06       311

 [93 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-01 -513857.655970       386
 2019-05-15  320599.977831       386
 2019-06-01  460643.015573       386
 2019-06-15  -29216.476989       386
 2019-07-01 -237865.992220       386
 ...                   ...       ...
 2023-01-01 -431009.929745       386
 2023-01-15  232042.227176       386
 2023-02-01  149690.788189       386
 2023-02-15   97593.232584       386
 2023-03-01       0.000000       386

 [93 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-07-15 -4.611988e+06       411
 2019-08-01 -3.628731e+06       411
 2019-08-15 -3.603286e+06       411
 2019-09-01 -2.135552e+06       411
 2019-09-15 -1.311396e+06       411
 ...                  ...       ...
 2023-01-01 -2.936243e+05       411
 2023-01-15 -3.413732e+05       411
 2023-02-01 -1.581759e+05       411
 2023-02-15  0.000000e+00       411
 2023-03-01  0.000000e+00       411

 [88 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-06-01    1103.088811       372
 2019-06-15   -1699.727222       372
 2019-07-01  -22004.118718       372
 2019-07-15  -53943.319135       372
 2019-08-01   38358.635969       372
 ...                   ...       ...
 2023-01-01 -180322.611162       372
 2023-01-15       0.000000       372
 2023-02-01       0.000000       372
 2023-02-15       0.000000       372
 2023-03-01       0.000000       372

 [91 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-07-01           NaN        67
 2019-07-15   5412.293044        67
 2019-08-01  -8293.823810        67
 2019-08-15  15768.133264        67
 2019-09-01   1981.298964        67
 ...                  ...       ...
 2023-01-01  22318.639689        67
 2023-01-15  -9858.386030        67
 2023-02-01   1407.887876        67
 2023-02-15   2274.238723        67
 2023-03-01      0.000000        67

 [89 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-01            NaN      7309
 2019-05-15   14676.242906      7309
 2019-06-01  -64396.132208      7309
 2019-06-15  603938.316134      7309
 2019-07-01 -733136.991950      7309
 ...                   ...       ...
 2023-01-01  183583.623126      7309
 2023-01-15  -74468.080130      7309
 2023-02-01  174760.940056      7309
 2023-02-15 -215243.125345      7309
 2023-03-01 -315655.361318      7309

 [93 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-04-15  0.000000e+00       299
 2019-05-01  2.317320e+05       299
 2019-05-15  1.087622e+06       299
 2019-06-01 -3.783478e+05       299
 2019-06-15  3.593156e+04       299
 ...                  ...       ...
 2023-01-01  6.554704e+05       299
 2023-01-15 -8.924034e+05       299
 2023-02-01 -1.345431e+06       299
 2023-02-15  0.000000e+00       299
 2023-03-01  0.000000e+00       299

 [94 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-04-15            NaN       287
 2019-05-01  117240.912471       287
 2019-05-15  -32584.930932       287
 2019-06-01   41852.832947       287
 2019-06-15  -21086.308386       287
 ...                   ...       ...
 2023-01-01   -4558.919801       287
 2023-01-15   34038.722426       287
 2023-02-01   24093.322235       287
 2023-02-15  -33459.411670       287
 2023-03-01  -23929.272801       287

 [94 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2020-02-15  -65417.135925       391
 2020-03-01  217593.325810       391
 2020-03-15  159738.088243       391
 2020-04-01   79056.652353       391
 2020-04-15  278009.430237       391
 ...                   ...       ...
 2023-01-01   53833.226729       391
 2023-01-15   89128.694537       391
 2023-02-01  -74524.499933       391
 2023-02-15  -34566.209854       391
 2023-03-01   -9645.245499       391

 [74 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-06-15 -633634.173620       430
 2019-07-01  327995.164902       430
 2019-07-15  112599.079121       430
 2019-08-01  -49254.974664       430
 2019-08-15   44528.683791       430
 ...                   ...       ...
 2022-12-15       0.000000       430
 2023-01-01       0.000000       430
 2023-01-15       0.000000       430
 2023-02-01       0.000000       430
 2023-02-15       0.000000       430

 [89 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-15            NaN       387
 2019-06-01  295426.431423       387
 2019-06-15   -7666.703198       387
 2019-07-01 -283235.582415       387
 2019-07-15 -202343.034757       387
 ...                   ...       ...
 2023-01-01   69577.455787       387
 2023-01-15   32078.325849       387
 2023-02-01   35203.528462       387
 2023-02-15    2702.445482       387
 2023-03-01       0.000000       387

 [92 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-07-01   26848.973163       378
 2019-07-15     510.228536       378
 2019-08-01  -18374.391420       378
 2019-08-15   -7480.929600       378
 2019-09-01    5103.831909       378
 ...                   ...       ...
 2023-01-15   -2322.138638       378
 2023-02-01   -2720.778365       378
 2023-02-15    7196.166243       378
 2023-03-01            NaN       378
 2023-03-15  210677.346843       378

 [90 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-04-15           NaN        99
 2019-05-01 -15067.979976        99
 2019-05-15 -68929.902567        99
 2019-06-01  58550.953309        99
 2019-06-15 -38215.799312        99
 ...                  ...       ...
 2023-01-15 -42626.529347        99
 2023-02-01   5717.282946        99
 2023-02-15  -1571.522053        99
 2023-03-01           NaN        99
 2023-03-15      0.000000        99

 [95 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-01 -134666.465086       102
 2019-05-15    8191.663807       102
 2019-06-01   25283.754001       102
 2019-06-15  -22857.618041       102
 2019-07-01   21981.336250       102
 ...                   ...       ...
 2023-01-01  -55498.111540       102
 2023-01-15   -6596.478760       102
 2023-02-01  -47703.690615       102
 2023-02-15   34158.519274       102
 2023-03-01  277268.850318       102

 [93 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-05-01   4564.598805        77
 2019-05-15  -2381.478341        77
 2019-06-01   -746.251852        77
 2019-06-15  13246.245836        77
 2019-07-01  -1874.758757        77
 ...                  ...       ...
 2022-12-15 -10151.576754        77
 2023-01-01   -125.658589        77
 2023-01-15  13615.439242        77
 2023-02-01  -5363.530908        77
 2023-02-15   4922.769785        77

 [92 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-05-01 -60445.785224        73
 2019-05-15   2243.737181        73
 2019-06-01  -5406.996339        73
 2019-06-15  10908.315776        73
 2019-07-01  -7037.038095        73
 ...                  ...       ...
 2022-12-15   5635.132303        73
 2023-01-01   2331.596041        73
 2023-01-15 -70218.594066        73
 2023-02-01  -4609.387961        73
 2023-02-15   6268.640424        73

 [92 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-01  109943.204959        57
 2019-05-15   66374.002042        57
 2019-06-01   -9307.093212        57
 2019-06-15  -39885.021282        57
 2019-07-01  -89643.388548        57
 ...                   ...       ...
 2023-01-01  -14230.585779        57
 2023-01-15  517567.948610        57
 2023-02-01 -150801.150244        57
 2023-02-15 -189296.953931        57
 2023-03-01  650715.593481        57

 [93 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-05-01 -871688.735991       388
 2019-05-15  332627.635811       388
 2019-06-01  -85823.523461       388
 2019-06-15  -71955.874453       388
 2019-07-01  -92248.403619       388
 ...                   ...       ...
 2023-01-01 -125009.003311       388
 2023-01-15   -3103.613548       388
 2023-02-01  -68627.533349       388
 2023-02-15 -500052.037596       388
 2023-03-01   27482.258560       388

 [93 rows x 2 columns],
 Empty DataFrame
 Columns: [dS (m3), GranD_ID]
 Index: [],
                   dS (m3)  GranD_ID
 Date
 2019-04-15            NaN       100
 2019-05-01   14303.684206       100
 2019-05-15    2779.148718       100
 2019-06-01 -168712.359857       100
 2019-06-15  133975.444760       100
 ...                   ...       ...
 2023-01-01   10502.564485       100
 2023-01-15  -29284.531272       100
 2023-02-01   -4644.238272       100
 2023-02-15 -142635.894122       100
 2023-03-01 -127926.421839       100

 [94 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-04-15           NaN        49
 2019-05-01  1.962414e+06        49
 2019-05-15 -1.471811e+06        49
 2019-06-01 -1.857112e+05        49
 2019-06-15 -2.694230e+04        49
 ...                  ...       ...
 2023-01-01  2.621811e+05        49
 2023-01-15 -2.655648e+05        49
 2023-02-01  1.051296e+04        49
 2023-02-15 -1.960263e+05        49
 2023-03-01 -4.252192e+05        49

 [94 rows x 2 columns],
                   dS (m3)  GranD_ID
 Date
 2019-07-01   58895.214127       390
 2019-07-15   54770.568926       390
 2019-08-01 -122783.300399       390
 2019-08-15  -62359.499144       390
 2019-09-01   28860.605784       390
 ...                   ...       ...
 2023-01-15   42506.342881       390
 2023-02-01   -2227.062401       390
 2023-02-15       0.000000       390
 2023-03-01            NaN       390
 2023-03-15       0.000000       390

 [90 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-05-15  13838.047557        74
 2019-06-01  12225.748661        74
 2019-06-15 -11487.261879        74
 2019-07-01  12301.977187        74
 2019-07-15 -12629.927781        74
 ...                  ...       ...
 2023-01-01   4699.321902        74
 2023-01-15  15510.893434        74
 2023-02-01 -18076.816663        74
 2023-02-15   5791.261667        74
 2023-03-01  47682.323431        74

 [92 rows x 2 columns],
                  dS (m3)  GranD_ID
 Date
 2019-06-15           NaN       335
 2019-07-01  -1373.414178       335
 2019-07-15   5998.559375       335
 2019-08-01 -20405.487328       335
 2019-08-15  -2152.592912       335

In [30]:
# rat_data = pd.concat(rat_data)
rat_dels = pd.concat(rat_dels)
rat_sarea = pd.concat(rat_sarea)

In [31]:
rat_dels.to_csv("rat_dels.csv")
rat_sarea.to_csv("rat_sarea.csv")

## ResOps

In [20]:
import pandas as pd
from pathlib import Path
import numpy as np
import geopandas as gpd

In [4]:
proj_dir = Path("../../")

In [21]:
reaches_and_dams = pd.read_csv(Path(proj_dir/"Methods/3.WaterTempEst/reaches_and_dams.csv"))
crb_dams = gpd.read_file(Path(proj_dir/"Data/GIS/shapefiles/CRBDams.shp"))

In [50]:
resops_storage = pd.read_csv(Path(proj_dir, "Data/ResOpsUS/time_series_single_variable_table/DAILY_AV_STORAGE_MCM.csv"))
resops_inflow = pd.read_csv(Path(proj_dir, "Data/ResOpsUS/time_series_single_variable_table/DAILY_AV_INFLOW_CUMECS.csv"))
resops_outflow = pd.read_csv(Path(proj_dir, "Data/ResOpsUS/time_series_single_variable_table/DAILY_AV_OUTFLOW_CUMECS.csv"))

resops_timeseries_inventory = pd.read_csv(Path(proj_dir, "Data/ResOpsUS/attributes/time_series_inventory.csv"))

/var/folders/0q/tm370x9d1qdg6nt3w7pcqh_w0000gq/T/ipykernel_14388/2678702701.py:2: DtypeWarning: Columns (517) have mixed types. Specify dtype option on import or set low_memory=False.
  resops_inflow = pd.read_csv(Path(proj_dir, "Data/ResOpsUS/time_series_single_variable_table/DAILY_AV_INFLOW_CUMECS.csv"))

In [51]:
resops_storage["date"] = pd.to_datetime(resops_storage["date"])
resops_inflow["date"] = pd.to_datetime(resops_inflow["date"])
resops_outflow["date"] = pd.to_datetime(resops_outflow["date"])

In [52]:
resops_storage.replace('NaN', np.nan, inplace=True)

In [86]:
reservoir_dynamics_list = list()

In [87]:
for dam_id in crb_dams["GRAND_ID"]:
    if dam_id not in resops_timeseries_inventory["DAM_ID"].unique():
        # print("Dam ID: " + str(dam_id) + " not in ResOpsUS inventory")
        continue
    else:
        storage = resops_storage[["date", str(dam_id)]].dropna().copy()
        storage.rename(columns={str(dam_id): "storage"}, inplace=True)
        inflow = resops_inflow[["date", str(dam_id)]].dropna().copy()
        inflow.rename(columns={str(dam_id): "inflow"}, inplace=True)
        outflow = resops_outflow[["date", str(dam_id)]].dropna().copy()
        outflow.rename(columns={str(dam_id): "outflow"}, inplace=True)

        # storage.set_index("date", inplace=True)
        # inflow.set_index("date", inplace=True)
        # outflow.set_index("date", inplace=True)

        # merge the dataframes on date
        df = pd.merge(storage, inflow, on="date")
        df = pd.merge(df, outflow, on="date")

        df["storage"] = df["storage"].astype(float)
        df["inflow"] = df["inflow"].astype(float)
        df["outflow"] = df["outflow"].astype(float)
        df["GranD_ID"] = int(dam_id)

        reservoir_dynamics_list.append(df)

In [88]:
reservoir_dynamics_df = pd.concat(reservoir_dynamics_list)
reservoir_dynamics_df.rename(columns={"date": "Date"}, inplace=True)

In [91]:
reservoir_dynamics_df.to_csv(Path(proj_dir, "Methods/3.WaterTempEst/resops.csv"), index=False)

In [90]:
reservoir_dynamics_df.head()

        Date  storage  inflow  outflow  GranD_ID
0 1980-01-01   73.602   5.782    0.028        55
1 1980-01-02   74.079   5.553    0.028        55
2 1980-01-03   74.443   4.240    0.028        55
3 1980-01-04   74.845   4.682    0.028        55
4 1980-01-05   75.231   4.497    0.028        55

In [93]:
reservoir_dynamics_df["GranD_ID"].unique().shape

(21,)

In [94]:
reaches_and_dams["GranD_ID"].unique().shape

(33,)